<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Maycon R Campos | DEV FullStack</title>

<link rel="icon" href="jsisonfot.jpg">
<link href="https://fonts.googleapis.com/css?family=Oswald:600" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="./style.css" rel="stylesheet" type="text/css">
<script src="https://unpkg.com/vue@3"></script>
</head>



<body>
<div id="CV">
	<div id="sidebar">
			<div class="header">
	  			<div class="progress-container">
	  			  <div class="progress-bar" id="myBar"></div>
	  			</div> 
			</div>
		<img class="headshot" src="./img/maycon.jpg" />
		<h1>{{ nome }}</h1>
		<h2>DEV FullStack em Formação - SENAI DEVinHouse[ConectaNuvem]</h2>

		<ul id="icons">
			<!---<li><a href="qrcode.jpg" target="_blank"><i class="fa fa-wechat " ></i></a></li>---->
			<!-- <li><a href="http://github.com/kathyqian" target="_blank"><i class="fa fa-github-square"></i></a></li> -->
			<li><a href="https://www.linkedin.com/in/mayconrcampos/" target="_blank"> <i class="fa fa-linkedin-square"></i></a></li>
			<!-- <li><a href="http://instagram.com/kathyqian" target="_blank"><i class="fa fa-instagram"></i></a></li> -->
			<li><a target="_blank" href="mailto:maycon.campos@gmail.com"> <i class="fa fa-envelope"></i></a></li>

			<li><a target="_blank" href="https://github.com/mayconrcampos"> <i class="fa fa-github-square fa-xs"></i></a></li>

			<li><a target="_blank" href="https://whats.link/5548984443857"> <i class="fa fa-whatsapp fa-xs"></i></a></li>

		</ul>
			<p class="small"><i class="fa fa-map-marker"></i> Imbituba - SC, Brasil</p>


	</div>



	<p id="content">
		<section class="top">
  			<h3 id="sobre">Sobre mim</h2>
				<br>
			<p>Olá, meu nome é Maycon, sou casado, tenho {{idade}} anos, nasci na cidade de Florianópolis e moro na cidade de Imbituba - SC desde 2015.</p>
			<p>Apesar de sempre ter sido ligado à tecnologia utilizando e explorando computadores desde a pré-adolescência, decidi dar o primeiro passo e iniciei meus estudos pra valer em tecnologia no início de 2019. Meu primeiro contato com linguagem e lógica de programação foi ao assistir as aulas fantásticas do canal <a target="_blank" href="https://www.youtube.com/c/CursoemV%C3%ADdeo">Curso em Vídeo</a> no Youtube, com o curso de Python Fundamentos (Módulos 1, 2 e 3) do prof. Gustavo Guanabara.</p>

			<p>O segundo passo que dei foi a instalação do Sistema Operacional Linux como sistema de utilização principal, instalando-o pela primeira vez em meu computador em Julho de 2019. Desde então venho estudando sobre este sistema maravilhoso, bem como tudo que é relacionado a Software Livre, distribuições linux, utilização do terminal Linux, Shell Script, gerenciadores de pacotes, permissões de acesso, manipulação de arquivos e diretórios, system inits (systemd, sys v-init), Desktop Enviroments do Linux (KDE Plasma, Gnome, XFCE, LMDE, LxQT, etc...), etc.</p>


 			<p>Adorei todos os novos conhecimentos adquiridos por vários cursos, e-books e tutoriais pela internet, tudo de forma autodidata. Mas foi no início de 2020 que resolvi iniciar o curso Superior em Análise e Desenvolvimento de Sistemas, pelo <a href="https://www.unicesumar.edu.br/home/">{{ universidade }}</a>. Previsão para formatura será para Agosto/2022. Tudo isto afim de prover minha formação regular e iniciar uma carreira nesta área.</p>

			 <p>Desde então venho estudando e adquirindo conhecimentos por meio da Universidade Unicesumar e também por vários outros cursos, tanto gratuitos como pagos, onde foram estudadas diversas linguagens de programação e tecnologias, entre as quais:</p>

			 <ul id="techs" v-for="(item, chave) in tecnologias" :key="chave">
				 <li><i class="fa fa-arrow-circle-right"></i> {{ item }}</li>
			 </ul>

		</section>
		<hr/>
		<section id="experiencia">
			<h3>Experiência no ramo de T.I</h3>
			<br>
			<h2 class="summary">Estágio de Suporte em T.I</h2>

			<a class="link" target="_blank" href="https://portodeimbituba.com.br/">Empresa: SCPar - Porto de Imbituba</a><br />
			<span class="dates">Maio de 2021 &ndash; Presente</span>
			<h5>Atribuições do cargo:</h5>
			<ul v-for="(item, key) in atribuicoesEstagio">
				<li>{{ item }}</li>
			</ul>

			<h4>Projeto de Estágio - Controle de Entrada e Saída de Veículos</h4>
				<a class="link" href="https://github.com/mayconrcampos/SistemaPortaria" target="_blank"><i class="fa fa-github"></i> </a><br />
				<span class="dates">Julho de 2021 &ndash; Agosto de 2021</span>
				<!-- <p class="details">Tickermachine is a proprietary algorithmic trading firm specializing in cryptocurrencies, forex, and ETFs. We use low-frequency long-only strategies based on technical analysis and behavioral economics principles.</p> -->
			<h4>Descrição do projeto</h4>
			<p>Tudo começou no dia que fomos atender a um chamado na portaria 1, onde um computador reiniciava todas as vezes em que o usuário abria a planilha excel a qual fazia todo o controle de entrada e saída de veículos. Verificamos que a planilha já se encontrava com 100 mil linhas e já ocupava em torno de 100mb do disco rígido do computador. Imaginei que se houvesse um sistema utilizando banco de dados relacional seria bem melhor, então meu gestor me desafiou a escrever este sistema. Mas ele queria que fosse escrito em PHP, Bootstrap, e que utilizasse bancos de dados MySQL. Nunca havia escrito nada em PHP, então imediatamente comecei a estudar esta linguagem e duas semanas depois iniciei o projeto. Sendo este meu primeiro projeto de utilização profissional de minha carreira.</p>

				<img @click="aumentar()" id="imgsistemaportaria" :width="tamanhoIMG" src="./img/sistemaportaria.png" alt="sistemaportaria">
		
				<ul>
					<h4>Tecnologias Utilizadas</h4><br>
					<li>Paradigma: Estruturado</li>
					<li>Framework: Nenhum</li>
					<li>PHP 7</li>
					<li>Bootstrap 4</li>
					<li>CSS 3</li>
					<li>Banco de Dados MySQL</li>
				</ul>
			<h4>Year 1 English Homeroom Teacher</h4>
			<a class="link" href="http://www.chjhs.tp.edu.tw/dispPageBox/ENGCP.aspx?ddsPageID=ENGABOUT_MIS" target="_blank">Chingshin Bilingual School, Taiwan</a><br />
			<span class="dates">August 2013 &ndash; June 2016</span>
			<ul>
				<li>Taught English as well as core subjects using the McGraw Hill Treasures program</li>
				<li>Design and implement Grade 2 English mathematic curriculum that supports the current Chinese mathematic curriculum</li>
				<li>Monitor student progress using a variety of formative assessments which also help to drive my instruction</li>
				<li>Evaluat student learning at the end of each instructional unit by using a variety of summative assessments</li>
				<li>Keep in constant communication with parents to encourage household knowledge of the curriculum and comment on their child’s well-being</li>
			</ul>
			

			<h4>ESL Teacher</h4>
			<a class="link" href="https://www.hldes.tc.edu.tw/home" target="_blank">Huludun Elementary School, Taiwan</a><br />
			<span class="dates">August 2011 &ndash; June 2013</span>
			<ul>
				<li>Routinely plan and coordinate with co-teachers daily lesson plans across all primary grade levels</li>
				<li>Generate fun and instructional Power Points, worksheets, and activities to have a variety of means for students to practice and learn English vocabulary and grammar.</li>
				<li>Assist with the preparation for the Taichung English Song Competition- 2nd Place</li>
				<li>Coach and train students for the Taichung Speech Competition </li>
			</ul>
	
			<h4>ESL Teacher</h4>
			<a class="link" href="https://www.hldes.tc.edu.tw/home" target="_blank">Daecheon Girls' Middle School, South Korea</a><br />
			<span class="dates">August 2010 &ndash; June 2011</span>
			<ul>
				<li>Designed and implemented hands-on and appealing lessons to supplement the English textbook content to appropriate age groups</li>
				<li>Maintain interests of students while engaging them in English language production</li>
				<li>Coach students for provincial wide Enlglish competitions such as the Speech Competition, Drama's Theatre and Debate </li>
			</ul>

			<h4>Director of Sports and Adventure Camp/ Assistant to Preschool Camp</h4>
			<a class="link" href="https://saltcreek.multisportsystems.com/page/show/6810-home" target="_blank">Salt Creek Rural Park Disctict, Palatine IL, USA</a><br />
			<span class="dates">Summer 2010</span>
			<ul>
				<li>Supervised and trained all new camp counselors</li>
				<li>Communicated daily with parents</li>
				<li>Created, setup and evaluated all daily acitivites and games</li>
				<li>Coordinated and secured all outside field trips</li>
			</ul>

			<h4>At-Risk Preschool Assistant</h4><a class="link" href="https://ardmore.asd4.org" target="_blank">Ardmore Elementary School, Addison IL, USA</a><br />
			<span class="dates">August 2009 &ndash; June 2010</span>
			<ul>
				<li>Assist classroom teacher with all activites for at-risk students, including 1:1 and small group academic support, find and gross morot acitivites and social/emotional development</li>
				<li>Independently facilitate learning centers that include literacy, math and functional management plans</li>
				<li>Provide consistency and structure of daily acitivities while incorporating behavior management plans</li>
				<li>Supervise classroom independently during meal times, bathroom, outdoor play, etc.</li>
			</ul>
	
			<h4>Student Teaching</h4><a class="link" href="https://www.d15.org/parkland" target="_blank">Parkland Middles School, McHenry IL, USA</a><br />
			<span class="dates">August 2009 &ndash; June 2010</span>
			<ul>
				<li>Design and conduct small and large group lessons for grades 6-8 P.E. classes under the supervision of mentor teacher</li>
				<li>Participate in curriculum planning with mentor teacher</li>
				<li>Develop and present units related to specific sports and health</li>
				<li>Differentiate and adapt indsturction for students with special needs</li>
			</ul>
		</section>
	
		<hr/>

		<section>
			<h3>Education & Credential</h3>
			<h4><a class="link" href="https://www.neiu.edu" target="_blank">Northeastern Illinois University</a></h4>
			<span>Bachelor of Arts, Physical Education, Cum Laude</span><br />
			<span class="dates">2007 &ndash; 2009</span>

			<h4><a class="link" href="https://www.harpercollege.edu/index.php" target="_blank">William Rainey Harper College</a></h4>
			<span>Associates Degree, Liberal Arts</span><br />
			<span class="dates">2004 &ndash; 2006</span>



			<h4 style="font-weight: 300;"><a class="link" href="https://www.isbe.net/Pages/Educator-Licensure-Information-System.aspx" target="_blank"><i>Illinois Teaching Licensure #2387208</i></a></h4>

			<h4 style="margin-top: 1px; text-decoration: underline;"><i>ODL QC, 120-Hour TEFL Certificate #2016895</i></h4>
			<h4 style="margin-top: 1px; text-decoration:underline"><i>PDA, Ceritified Positive Dicipline Facilitator		</i></h4>

		</section>

		<hr />
		<section>
			<h3>Professsional Development and Skills</h3>
			<p>2019 Posiitive Dicipline Association, <i>Certified Positive Dicipline Facilitator</i></br>
				2018 EARCOS, <i>Unpacking Inclusion</i></br> 
				2017 CPD College, <i>Jolly Phonics</i></br>
				2017 ELG Shanghai, <i>Meta-Cognitive Classroom Strategies</i></br> 
				2017 ELG Shanghai, <i>Bilingualism in the Classroom</i></br> 
				2017 ELG Shanghai, <i>Sensory Learning</i></br> 
			</p>
		</section>
	</p>
	
</div>


<script src="script.js" type="module"></script>

</body>
</html>
