html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  padding: 3.5em 2.5em 1em 24.5em;
    
  color: #333;

}

body {
  font-family: open sans, sans-serif;
}

.IMGs {
  display: flex;
  width: 100%;
}
.IMGs a {
  width: 40%;
  margin: auto;
  text-align: center;
}
.IMGs a img{
  width: 150px;
  margin: 5px;
}



p {
  line-height: 1.6em;
}

a, a:visited, a:hover {
  color: gray;
  font-weight: 600;
}

#experiencia ul li a {
  color: dimgray;
}

a:hover {
  text-decoration: none;
  opacity: .6;
}

hr {
  border: 0;
  height: 1px;
  background-color: darkgrey;
  max-width: 35em;
  margin-left: 0;
}

#sidebar { 
  background: rgb(246,246,246);
  background: linear-gradient(90deg, rgba(246,246,246,1) 0%, rgba(68,68,68,1) 0%);   
  position: fixed;
  top: 10px;
  left: 0;
  width: 18em;
  height: 100%;
  padding: 2.5em 2em 2em;
  overflow: visible;
  border-right: 1px solid #eee;
  color: whitesmoke;
}

#content {
  display: block;
}

.top {
  margin: auto;

}

.top p {
  font-size: smaller;
  text-align: justify;
  margin: auto;
}

#experiencia {
  font-size: smaller;
  margin: auto;
  text-align: justify;
}

#experiencia p {
  text-align: justify;
  
}

#projetoEstagio{
  font-size: smaller;
  margin: auto;
  text-align: justify;

  
}

#projetoEstagio a img {
  display: flex;
  width: 40%;
  margin: auto;
}

#projetos .creditosSistemaPortaria {
  font-size: x-small;
}

#projetos #imgsistemaportaria:hover {
  box-shadow: 5px 5px 50px darkgray;
}

#projetos #linkimg {
  display: block;
  width: 100%;

}



#projetos {
  border: 1px solid black;
  font-size: smaller;
  margin: auto;
  text-align: justify;
}

#projetos p{
  font-size: smaller;
  text-align: justify;
}



#graduacao {
  font-size: smaller;
  margin: auto;
  text-align: justify;
  

}

#cursoTecnico {
  font-size: smaller;
  margin: auto;
  text-align: justify;

}

#cursosExtras {
  text-align: center;
  font-size: smaller;
  margin: auto;
}

#tecnologiasSimbolos {
  width: 100%;
  padding: 5px;
}

#tecnologiasSimbolos #icones {
  display: block;
}

#tecnologiasSimbolos #icones img {
  padding: 5px;
  width: 30px;
}

#box {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 15em;
  width: 15em;
  padding: 2em;
  text-align: center;
  overflow: visible;
}
img.headshot:hover {
  box-shadow: 10px 10px 20px black;
  
}

img.headshot {
  height: 17em;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
}

h1 {
  font-family: oswald, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.3em;
  letter-spacing: 1px;
  margin: .5em 0 0;
  padding: 0;
}

h2 {
  font-weight: 600;
  font-size: 1em;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
}

p.lead {
  font-weight: 300;
  margin: .5em 0;
  padding: 0;
}

p.small {
  font-size: .8em;
  margin: .35em 0;
}

p.small i {
  margin-right: .3em;
}

ul#icons {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.6em;
}

ul#icons li {
  display: inline;
  margin-left: 10px;
  
}

section {
  padding: 2.2em 0 1.9em;
  max-width: 35em;
}

h3 {
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
}

h4 {
  margin: 2em 0 0;
}

a.link, span.dates {
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

p.summary {
  margin: 1.5em 0 1.3em;
  font-weight: 300;
}

span.dates {
  font-weight: 300;
}

.details {
  font-size: .85em;
}

ul.details {
  margin-left: 1.5em;
}

ul.details a {
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
}

ul.details .fa-li {
  font-size: .9em;
  padding-top: .2em;
  color: #444;

}

li {
  list-style-type: disc;
  list-style-position: outside;
  list-style-image: none;
  font-size: .85em;
}

.header {
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
  left:0px;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #cccc;

}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;

}
/*show more*/


@media only screen and (min-width:1281px) {
  html, body {
    font-size: 1.1em;
  }
}

@media only screen and (min-width:801px) {
  section.top {
    padding-top: 1.2em;
  }
  section.top p {
    margin-top: 0;
  }
}

@media only screen and (max-width:800px) {
  body {
    padding: 0 0 1em;
    
  }
  #sidebar {
    border-right: none;
    border-bottom: 1px #eee solid;
    position: relative;
    height: auto;
    width: auto;
    text-align: center;
    padding-bottom: 2em;
  }
  section {
    padding: 2em 2em 1.7em;
    max-width: none;
  }
  hr {
    max-width: none;
  }
}

@media only screen and (max-width:420px) {

  body {
    padding-bottom: 2em;
    
  }
  section {
    padding: 1.2em .6em .6em;
  }
  
}

@media print {

  html {
    font-size: .5em;
  }
 body {
    padding: 0 0 1em;
  }
  #sidebar {
    border-right: none;
    border-bottom: 1px #eee solid;
    position: relative;
    height: auto;
    width: auto;
    text-align: center;
    padding-bottom: 2em;
  }
  section {
    padding: 2em 2em 1.7em;
    max-width: none;
  }
  hr {
    max-width: none;
  }
  
}

#divlista {
  margin-top: 20px;
  width: 100%; 
}

#techs li {
  font-size: small;
  width: 90%;
  list-style: none;
  padding: 5px;
  text-align: left;
  
}

#techs {
 
  margin: 0;
}

#header {
  display: flex;
  font-size: smaller;
  width: 100%;
  margin: 0;
  background: rgb(246,246,246);
  background: linear-gradient(90deg, rgba(246,246,246,1) 0%, rgba(68,68,68,1) 0%);
  color: #eee;
  position: fixed;
  left: 0;
  top: 0;
  
}

#header ul {
  top: 0;
  display: flex;
  width: 100%;
  text-align: right;
  right: 0;
  margin-left: 10px;
}

#header ul li{
  text-align: center;
  list-style: none;
  margin-right: 20px;
}

#header ul li a {
  text-decoration: none;
  color: #eee;
}




